<div class="container-fluid">

    <footer class=" bgPrimary  pt-5 pb-5 mt-5">
        <div class="container fcAccent text-center text-lg-start">

            <div class="row ">
                <div class="col-lg-3">
                    <h2>MEDDICAL</h2>
                    <h5>Leading the way in medical <br>
                        execellence and patient care</h5>
                    </h5>
                </div>
                <div class="col-lg-3">
                    <h4>Quick Links</h4>
                    <ul class="list-unstyled">
                        <li><a class="fcAccent text-decoration-none"
                                href="../appoinment/appoinment.html">Appointment</a></li>
                        <li><a class="fcAccent text-decoration-none" href="../services/services.html">Services</a></li>
                        <li><a class="fcAccent text-decoration-none" href="../doctors/doctors.html">Doctors</a></li>
                        <li><a class="fcAccent text-decoration-none" href="../contact/contact.html">About</a></li>
                    </ul>
                </div>

                <div class="col-lg-3">
                    <h4>Contact Us</h4>
                    <ul class="list-unstyled">
                        <li>Call: <i class="fa-solid fa-phone"></i> (123) 456-7890</li>
                        <li>Email: <i class="fa-solid fa-envelope"></i> info@hospital.com</li>
                        <li>Address: <i class="fa-solid fa-location-dot"></i> 123 Main St, Anytown, USA</li>

                    </ul>
                </div>
                <div class="col-lg-3">
                    <h4>Follow Us</h4>
                    <ul class="list-unstyled d-flex gap-3">
                        <li><i class="fa-brands fa-facebook"></i></li>
                        <li><i class="fa-brands fa-twitter"></i></li>
                        <li><i class="fa-brands fa-instagram"></i></li>
                        <li><i class="fa-brands fa-linkedin"></i></li>
                    </ul>
                </div>
            </div>
            <hr class="bgAccent" />
            <div class="text-center">
                <p class="text-center">© 2023 MEDDICAL. All rights reserved.</p>
            </div>
        </div>

    </footer>
</div>