<!-- ////////////nav //////////// -->
<nav class="navbar navbar-expand-lg bg-body-tertiary"
    style="background-color: #1f2b6c !important; color: white !important">
    <div class="container">
        <a class="navbar-brand d-lg-none display-1" href="#"><span class="fcAccent">MED</span><span
                class="text-light">DICAL</span></a>
        <div class="d-flex align-items-center gap-3">
            <button class="btn btn-lg d-lg-none p-0">
                <i class="fa-solid fa-search fcWhite"></i>
            </button>

            <button class="navbar-toggler navbar-dark" style="border: none" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link me-4 active" aria-current="page" href="index.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link me-4 " aria-current="page" href="/pages/About/aboutus.html">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link me-4 text-light" href="/pages/services/services.html">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link me-4 text-light" href="/pages/doctors/doctors.html">Doctors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link me-4 text-light" href="News.html">News</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link me-4 text-light" href="/pages/contact/contact.html">Contact</a>
                </li>
            </ul>
            <span class="d-none d-lg-block pe-4">
                <i class="fa-solid fa-search fa-lg fcWhite"></i></span>
            <div class="row">
                <div class="col-sm-12 text-center">
                    <a href="../appoinment/appoinment.html"
                        class="bgAccent w-100 text-decoration-none fcPrimary text-center rounded-5 p-2">
                        Appointment
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>